name: Build APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get Date
        id: get-date
        run: |
          echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Cache Buildozer
        uses: actions/cache@v4
        with:
          path: .buildozer
          key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}

      - name: Build with Buildozer
        uses: ArtemSerebriakov/buildozer-action@v1
        id: buildozer
        with:
          buildozer_version: master
          python_version: 3.11

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FileMonitor-${{ steps.get-date.outputs.date }}
          path: bin/*.apk
